-c constraints.txt
tqdm>=4.23.4,<5.0.0
--only-binary numpy>=1.14.5,<2.0.0
pandas>=0.23.1,<1.0.0
scipy>=1.1.0,<2.0.0
matplotlib>=2.2.2,<3.0.0
scikit-learn>=0.19.1,<1.0.0
editdistance>=0.4,<1.0
nltk>=3.3,<4.0
pytest>=3.6.2,<4.0.0
flake8>=3.5.0,<4.0.0
coverage>=4.5.1,<5.0.0
pytest-cov>=2.5.1,<5.0.0
commandr>=1.5.0,<2.0.0